.are-radio {
  display: inline-flex;
  align-items: flex-start;
  font-size: 14px;
  line-height: 1.375;
  cursor: pointer;

  &-icon {
    position: relative;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    vertical-align: middle;
    cursor: inherit;
    border: 1px solid var(--are-radio-border-color, #d6d6d6);
    border-radius: 50%;
    transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
    appearance: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      margin: auto;
      content: '';
      background-color: var(--are-radio-indicator-color, #fff);
      border-radius: inherit;
      transition: transform 0.2s ease-in, background-color 0.2s ease-in;
      transform: scale(2);
      transform-origin: center;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px var(--are-radio-focus-color, var(--are-focus-color));
    }
  }

  &-label {
    padding-left: 8px;
    line-height: 18px;
    cursor: inherit;
  }

  &:hover:not(.are-radio-disabled) {
    .are-radio-icon {
      border-color: var(--are-radio-hover-border-color);
    }
  }

  &-checked {
    .are-radio-icon {
      background-color: var(--are-radio-color);
      border-color: var(--are-radio-color);

      &::before {
        transform: scale(1);
      }
    }
  }

  &-disabled {
    cursor: not-allowed;
    opacity: 0.6;

    .are-radio-icon {
      background-color: var(--are-radio-disabled-color, #ddd);
      border-color: var(--are-radio-disabled-border-color, #ccc);

      &::before {
        background-color: var(--are-radio-disabled-color, #ddd);
      }
    }
  }

  &-disabled.are-radio-checked {
    .are-radio-icon::before {
      background-color: var(
        --are-radio-disabled-indicator-color,
        rgb(0 0 0 / 40%)
      );
    }
  }
}
