.are-fade-in-motion {
  &-enter {
    animation: are-fade-in 0.24s linear;
  }

  &-leave {
    animation: are-fade-in 0.24s linear reverse;
    animation-fill-mode: forwards;
  }
}

@keyframes are-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
