.are-radio-group {
  display: flex;
}

.are-radio-group-x {
  flex-direction: row;
  align-items: center;

  --are-radio-spacing: 12px;

  .are-radio + .are-radio {
    margin-left: var(--are-radio-spacing);
  }
}

.are-radio-group-y {
  flex-direction: column;

  --are-radio-spacing: 8px;

  .are-radio + .are-radio {
    margin-top: var(--are-radio-spacing);
  }
}
