.are-modal-wrapper {
  padding-bottom: 24px;
}

.are-modal-top {
  top: 100px;
}

.are-modal {
  max-width: calc(100vw - 32px);
  overflow-x: hidden;
  font-size: 14px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px hsl(214deg 61% 25% / 5%),
    0 4px 24px -3px hsl(214deg 53% 23% / 16%),
    0 10px 64px -8px hsl(214deg 47% 21% / 20%);

  &-header {
    position: relative;
    padding: 16px;
  }

  &-title {
    font-size: 18px;
    font-weight: bold;
  }

  &-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-height: 100%;
    padding: 0 10px;
    overflow: hidden;
    line-height: 1;
    color: #8f8f8f;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
  }

  &-close-hover {
    display: block;
    padding: 4px;
    line-height: 1; 
    border-radius: 6px;
    transition: color .1s, background-color .1s;

    &:hover {
      color: #292929;
      background-color: #f1f1f1;
    }
  }

  &-close-icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
    fill: currentcolor;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px 16px;
  }

  &-footer-bg {
    background-color: rgb(25 59 103 / 5%);
  }
}
